---
import { PLAYLISTS } from "../lib/data";
import type { Playlist } from "../lib/types";
import { PlayButton } from "./PlayButton";
---

<section class="grid grid-cols-2 xl:grid-cols-4 px-6 mt-2 mb-10 gap-3">
  {
    PLAYLISTS.slice(0, 8).map((playlist: Playlist) => {
      const type = playlist.type == "Lista" ? "playlist" : "album";
      const href = playlist.isLikes
        ? "collection/tracks"
        : `/${type}/${playlist.id}`;
      return (
        <div class="group relative bg-secondary/10 hover:bg-secondary/20 transition duration-200 text-primary h-16 rounded-md shadow-md">
          <a href={href} class="w-full flex justify-start items-center gap-4 ">
            <img
              src={playlist.image}
              alt={playlist.name}
              class="size-16 rounded-l-md"
            />
            <h1 class="font-semibold">{playlist.name}</h1>
          </a>
          <PlayButton
            id={playlist.id}
            client:visible
            className="hidden group-hover:grid right-2 bottom-2"
          />
        </div>
      );
    })
  }
</section>
